<footer id="footer">
  <div class="wrapper">
    <p>
        <a href="http://www.sts.in/">Bot Powered by STS</a> |
        <a href="https://github.com/howdyai/botkit-starter-web">Documentation</a>
    </p>
  </div>
</footer>
